* {
    box-sizing: border-box;
}

/* 
- need to make sure window does not shift text when minimized 
    - minimum width */


body {
    height: 100vh;
    margin: 0;      /* remove automatic margin */
    font-family: 'Bangers', cursive;     
    background-image: linear-gradient(#262930,#444A57);
    min-width: 1440px;
}

button {
    border-width: 5px;
    font-family: 'Bangers', cursive;
    font-size: 90px;  
    text-align : center;
    border-radius : 90px;
    background-color : #DC4734;
    color : white;
    padding : 15px 100px;
    margin-left: 37%;
    margin-top: 200px;
}

button:hover {
    background: #434343;
    letter-spacing: 2px;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.card {
    width: 11em;
    background-color: #ffffff;
    box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
    border-radius: 0.25em;
}

.card-container {
    justify-content: space-between;
    margin: 6% 17% 2%;
    display: none;
}
span {
    display: inline-block;
    justify-content: space-between;
    background-color:whitesmoke;
    padding: 10px 60px;
    margin: 3px 213px 50px;
    letter-spacing: 2px; 
    display: none;
}

#p2-score-tab {
    float: right;
}

.direction {
    color: whitesmoke;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 0% 40% 1%;
    display: none;
}

#p1-tab {
    display: none;
}

#finger {
    height: 40px;
}

#stacked-cards {
    /* position: absolute; */
    width: 1000px;
    height: 200px;
    margin: 2% 15% 0;
    display: none;
}

/* class="cards" created in app js 69-71 */
img.cards {
    display: block;
    width: 100%;
}

