* {
    box-sizing: border-box;
}

/* 
- need to make sure window does not shift text when minimized 
    - minimum width */

body {
    /* display: grid;
    justify-content: space-around;   */
    /* evenly space between each other (left & right) */
    height: 100vh;
    margin: 0;      /* remove automatic margin */
    font-family: 'Bangers', cursive;     
    background-image: linear-gradient(#262930,#444A57);
    min-width: 1440px;
}

button {
    border-width: 5px;
    font-family: 'Bangers', cursive;
    font-size: 90px;  
    text-align : center;
    border-radius : 90px;
    background-color : #DC4734;
    color : white;
    padding : 15px 100px;
    /* make it auto center later + even when window is minimized */
    margin-left: 37%;
    margin-top: 200px;
}

button:hover {
    background: #434343;
    letter-spacing: 2px;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

h2 {
    display: inline-block;
    background-color:whitesmoke;
    padding: 10px 60px;
    margin: 150px;
    letter-spacing: 2px; 
}

#p2-tab {
    float: right;
}